{% extends 'layout.html' %}
{% load static %}

{% block content %}

<script type="text/javascript">

    function team_leave(team_pk, user_pk){
    var leave_team = confirm("팀을 나가시겠습니까?")
    if (leave_team == true){
        location.href = '/team/'+team_pk+'/'+user_pk+'/'+'leave_team';
    }
    else
        return ;
}

    function team_leave(team_pk, user_pk){
        var leave_team = confirm("팀을 나가시겠습니까?")
        if (leave_team == true){
            location.href = '/team/'+team_pk+'/'+user_pk+'/'+'leave_team';
        }
        else
            return ;
    }
    function team_invite(team_pk){
        var username = prompt("초대할 사용자를 입력해 주세요!")
        if (username != null){
            $.ajax({
                type:'get',
                url: "/team/"+team_pk+'/add_member1?username='+username,
                success: function(data){
                    if(data == 1){
                        alert(username+"해당 사용자가 팀에 존재합니다!");
                    }
                    else if(data == 2){
                        alert(username+" 초대가 완료되었습니다.");
                        $('#member').append("<div class='col-4'>"
                        + "<a class='text-center p-3 d-flex flex-column hover-highlight'>"
                        +"<span class='profile-image rounded-circle d-block m-auto' style="+'"background-image:url'+"({% static 'img/default.png' %});"+' background-size: cover;">'
                        +"</span>"
                        +"<span class='d-block text-truncate text-muted fs-xs mt-1'>"+username+"</span>"+"</a>"+"</div>"
                        );
                    }
                    else{
                        alert(username+"해당 사용자가 존재 하지 않습니다!")
                    }
                },
                error: function(){
                    console.log('실패');
                }
            })
        }
        else return;
    }

    function team_time_add(team_pk){
        var add_time_table = confirm("팀에 시간표를 추가하시겠습니까?")
        if (add_time_table == true ){
            $.ajax({
                url: '/team/'+team_pk+'/'+'add_time_table',
                success: function(data){
                    if (data > 0){
                        alert("이미 추가된 시간표 입니다!")
                    }
                    else if(data==0){
                        alert("시간표가 성공적으로 추가 되었습니다")
                        location.href = '/team/'+team_pk+'/'+'member_time_table';
                    }
                },
                error: function(){
                    console.log('실패');
                }
            })
        }
        else return;
    }
    function delete_team_timetable(team_pk){
        var leave_team = confirm("팀에 추가된 시간표를 삭제하시겠습니까?")
        if (leave_team == true){
            $.ajax({
                url: '/team/'+team_pk+'/delete_time_table',
                success: function(data){
                    if (data ==2){
                        alert("추가된 시간표가 존재하지 않습니다");
                    }
                    else if(data==1){
                        alert("시간표가 성공적으로 삭제 되었습니다.");
                        // location.href = '/team/'+team_pk;
                    }
                },
                error: function(){
                    console.log('실패');
                }
            })
        }
        else return;
    }
    </script>
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'account:user_home' user.pk %}"> Home </a></li>
    <li class="breadcrumb-item"><a href="{% url 'team:all_team_member' details.pk %}"> 전체 팀원 </a></li>
    <li class="breadcrumb-item"><a onclick="team_invite('{{details.pk}}')"style="color: black;">팀원 추가</a></li>
    <li class="breadcrumb-item"><a onclick="team_leave('{{ details.pk }}', '{{user.pk}}')"style="color: black;">팀 탈퇴</a></li>
    <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
</ol>
<div class="subheader">
    <h1 class="subheader-title">
        <i class='subheader-icon fal fa-credit-card-front'></i> {{ details.team_name }}
        <small>
           {{details.introduce}}
        </small>
    </h1>
</div>
<div class="row">
    <div class="col-lg-6 col-xl-3 order-lg-1 order-xl-1">
        <!-- profile summary -->
        <div class="card mb-g rounded-top">
            <div class="row no-gutters row-grid">
                <div class="col-12">
                    <div class="d-flex flex-column align-items-center justify-content-center p-4">
                        <img src="{% static 'img/default.png' %}" class="rounded-circle shadow-2 img-thumbnail" alt="">
                        <h5 class="mb-0 fw-700 text-center mt-3">
                            {{user.last_name}}{{user.first_name}}
                        </h5>
                    </div>
                </div>
                <div class="col-6">
                    <a href="{% url 'account:edit_user' %}">
                    <div class="text-center py-3">
                        <h5 class="mb-0 fw-700">
                            내 정보
                            <small class="text-muted mb-0">수정</small>
                        </h5>
                    </div>
                </a>
                </div>
                <div class="col-6">
                    <a href="{% url 'account:user_team' user.pk %}">
                    <div class="text-center py-3">
                        <h5 class="mb-0 fw-700">
                            My Team
                            <small class="text-muted mb-0">Followers</small>
                        </h5>
                    </div>
                </a>
                </div>
            </div>
        </div>
        <!-- photos -->
        
        <!-- contacts -->
        <div class="card mb-g">
            <div class="row row-grid no-gutters" id="member">
                <div class="col-12">
                    <div class="p-3">
                        <h2 class="mb-0 fs-xl">
                            팀원
                        </h2>
                    </div>
                </div>
                {% for member in team_member %}
                <div class="col-4">
                    <a  class="text-center p-3 d-flex flex-column hover-highlight">
                        <span class="profile-image rounded-circle d-block m-auto" style="background-image:url({% static 'img/default.png' %}); background-size: cover;"></span>
                        <span class="d-block text-truncate text-muted fs-xs mt-1">{{ member.user.last_name }}{{member.user.first_name}}</span>
                    </a>
                    <!-- <a href="{% url 'team:expulsion_member' member.team.pk member.user.pk %}">x</a> -->
                </div>
                {% endfor %}
                
                
                <!-- <div class="col-12">
                    <div class="p-3 text-center">
                        <a href="{% url 'team:all_team_member' details.pk %}" class="btn-link font-weight-bold">View all</a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-xl-6 order-lg-3 order-xl-2" style="height: 1000px;">
        <div class="card border mb-g h-50" id="chat_box_kth" style="overflow-y:scroll;">
            <div class="msgr d-flex h-100 flex-column bg-white">
                <!-- BEGIN custom-scroll -->
                <div class="flex-1 h-100" >
                    <div  class="w-100 p-4"id="chat_box" >
                        <!-- start .chat-segment -->
                        
                        <!--  end .chat-segment -->
                        <!-- start .chat-segment -->
                        {% for chat in team_chat.all %}
                        {% if chat.user.pk == user.pk%}
                        <div class="chat-segment chat-segment-sent">
                                <div class="text-right color-fusion-300 text-muted mt-1 fs-xs">
                                    <strong>
                                        {{chat.user.username}}
                                    </strong>
                                </div>
                            <div class="chat-message">
                                <p>
                                    {{chat.message}}
                                </p>
                            </div>
                            <div class="text-right fw-300 text-muted mt-1 fs-xs">
                                    {{chat.send_message | date:"m-d H:i"}}
                            </div>
                        </div>
                        {% else %}
                        <!--  end .chat-segment -->
                        <!-- start .chat-segment -->
                        <div class="chat-segment chat-segment-get">
                            <div class="color-fusion-300 text-muted mt-1 fs-xs">
                                <strong>
                                    {{chat.user.username}}
                                </strong>
                            </div>
                            <div class="chat-message">
                                <p>
                                    {{chat.message}}
                                </p>
                               
                                
                            </div>
                            <div class="fw-300 text-muted mt-1 fs-xs">
                                {{chat.send_message | date:"m-d H:i"}}
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <!--  end .chat-segment -->
                        <!-- start .chat-segment -->
                        
                        <!--  end .chat-segment -->
                        <!-- start .chat-segment for timestamp -->
                        
                        
                        <!--  end .chat-segment for timestamp -->
                    </div>
                </div>
            </div>
        </div>
        <div class="card border mb-g">
            <div class="card-body pl-4 pt-4 pr-4 pb-0">
                <div class="d-flex flex-column">
                    <div class="border-0 flex-1 position-relative shadow-top">
                        <div class="pt-2 pb-1 pr-0 pl-0 rounded-0 position-relative" tabindex="-1">
                            <span class="profile-image rounded-circle d-block position-absolute" style="background-image:url({% static 'img/default.png' %}); background-size: cover;"></span>
                            <div class="pl-5 ml-5">
                                <textarea id="message" name="message" class="form-control border-0 p-0 fs-xl chat-kth" rows="4" placeholder="채팅"></textarea>
                            </div>
                        
                        </div>
                    </div>
                    <div class="height-8 d-flex flex-row align-items-center flex-wrap flex-shrink-0">
                        <button class="btn btn-info shadow-0 ml-auto" id="chat_btn">Post</button>
                    </div>
                </div>
            </div>
        </div>   
    </div>
    <div class="col-lg-6 col-xl-3 order-lg-2 order-xl-3">
        <!-- add : -->
        <div class="card mb-g">
            <div class="row row-grid no-gutters">
                <div class="col-12">
                    <div class="p-3">
                        <h2 class="mb-0 fs-xl">
                            Team Project
                        </h2>
                    </div>
                </div>
                <div class="col-12">
                    <div class="p-3">
                        <div class="card mb-2">
                            <div class="card-body">
                                <a href="{% url 'team:member_time_table' details.pk %}" class="d-flex flex-row align-items-center">
                                    <div class='icon-stack display-3 flex-shrink-0'>
                                        <i class="fal fa-circle icon-stack-3x opacity-100 color-primary-400"></i>
                                        <i class="fas fa-graduation-cap icon-stack-1x opacity-100 color-primary-500"></i>
                                    </div>
                                    <div class="ml-3">
                                        <strong>
                                            팀 시간표
                                        </strong>
                                        <br>
                                        내 시간표를 등록하고 합쳐진 시간표를 확인하세요!
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="p-3">
                        <div class="card mb-2">
                            <div class="card-body">
                                <a href="{% url 'team_article:workspace' details.pk user.pk %}" class="d-flex flex-row align-items-center">
                                    <div class='icon-stack display-3 flex-shrink-0'>
                                        <i class="fal fa-circle icon-stack-3x opacity-100 color-warning-400"></i>
                                        <i class="fas fa-graduation-cap icon-stack-1x opacity-100 color-warning-400"></i>
                                    </div>
                                    <div class="ml-3">
                                        <strong>
                                            팀 자료공유
                                        </strong>
                                        <br>
                                        조사한 자료들을 올려 팀원들과 공유해 주세요!
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="p-3">
                        <div class="card mb-2">
                            <div class="card-body">
                                <a href="{% url 'team:team_meeting_place' %}" class="d-flex flex-row align-items-center">
                                    <div class='icon-stack display-3 flex-shrink-0'>
                                        <i class="fal fa-circle icon-stack-3x opacity-100 color-info-400"></i>
                                        <i class="fas fa-graduation-cap icon-stack-1x opacity-100 color-info-400"></i>
                                    </div>
                                    <div class="ml-3">
                                        <strong>
                                            중간 위치 찾기!
                                        </strong>
                                        <br>
                                        Adding qualifications will help gain more clients
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'team:team_chat_delete' details.pk %}">팀 전체 채팅 삭제</a>
            </div>
        </div>
    </div>
</div> 
{% endblock %}