{% extends 'layout.html' %}

{% block content %}
<style>
td{
    text-align: center;
    
}
</style>
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'team:detail_team' team.pk %}">팀으로</a></li>
    <li class="breadcrumb-item"><a href="{% url 'team_article:workspace' team.pk user.pk %}">팀 자료실</a></li>
    <li class="breadcrumb-item"><a href="{% url 'team:team_meeting_place' team.pk %}">팀 모임</a></li>
</ol>

    <div class="subheader">
        <h1 class="subheader-title">
            <i class='subheader-icon fal fa-credit-card-front'></i> 합친 시간표
            <small>
                팀원들이 가능한 시간을 확인할 수 있습니다!
            </small>
        </h1>
    </div>
    
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<div class="row">
<script>
    const arr = new Array(13).fill(0).map(() => new Array(7).fill(0));
    var user_count = 0;
    {% for i in user_team.all %}
    user_count++;
    $( function () {
        var a = "{{ i.total_time_table }}";
        var user_last_name = "{{i.user.last_name}}";
        var user_first_name = "{{i.user.first_name}}";
        let count = 0;
        for (let i = 0; i < 13; i++) {
            for (let j = 0; j < 7; j++) {
                $('#'+i+j).css('font-size','15px');
                if(a.charAt(count) == 0){
                    // $('#'+i+j).text( user_name+"\n"+$('#'+i+j).text());
                    $('#'+i+j).append( user_last_name+user_first_name+"<br>").css('padding-top',(user_count-arr[i][j]) * 10 + 'px');
                    arr[i][j]++;
                }
                count++;
            }
        }
    });
    {% endfor %}
    $(function(){
        if(user_count >= 3){
            for (let i = 0; i < 13; i++) {
                for (let j = 0; j < 7; j++) {
                    if(arr[i][j] === user_count) $('#'+i+j).css('background-color','rgb(177, 221, 253)');// rgb(255, 219, 232)
                    else if(arr[i][j] === user_count-1) $('#'+i+j).css('background-color','rgb(223, 241, 255)');
                    // else if(arr[i][j] === user_count-2) $('#'+i+j).addClass('bg-info-50');
                }
            }
        }
    });
    function team_time_add(team_pk){
        var add_time_table = confirm("팀에 시간표를 추가하시겠습니까?")
        if (add_time_table == true ){
            $.ajax({
                url: '/team/'+team_pk+'/'+'add_time_table',
                success: function(data){
                    if (data > 0){
                        alert("이미 추가된 시간표 입니다!")
                    }
                    else if(data==0){
                        alert("시간표가 성공적으로 추가 되었습니다")
                        // location.href = '/team/'+team_pk;
                        location.href = '/team/'+team_pk+'/'+'member_time_table';
                    }
                },
                error: function(){
                    console.log('실패');
                }
            })
        }
        else return;
    }
    function delete_team_timetable(team_pk){
        var leave_team = confirm("팀에 추가된 시간표를 삭제하시겠습니까?")
        if (leave_team == true){
            $.ajax({
                url: '/team/'+team_pk+'/delete_time_table',
                success: function(data){
                    if (data ==2){
                        alert("추가된 시간표가 존재하지 않습니다");
                    }
                    else if(data==1){
                        alert("시간표가 성공적으로 삭제 되었습니다.");
                        location.href = '/team/'+team_pk + '/member_time_table';
                    }
                },
                error: function(){
                    console.log('실패');
                }
            })
        }
        else return;
    }
    </script>
    <div class="col-sm-12">
        <div class="card mb-g">
            <h5 class="card-header bg-white">
                <span class="fw-300"> <strong>{{team.team_name}}</strong> 전체 시간표 </span>
            </h5>
            <div class="card-body">
                
                <div class="frame-wrap bg-faded mb-1">
                    
                    <div class="custom-checkbox d-inline-flex mr-3">
                        <a onclick="team_time_add('{{ team.pk }}')"style="color: black;">
                        <button type="button" class="btn btn-default" id = "add_button">내 시간표 추가</button></a>
                    </div>
                    <div class=" custom-checkbox d-inline-flex mr-3">
                        <a onclick="delete_team_timetable('{{ team.pk }}')"style="color: black;">
                        <button type="button" class="btn btn-default">내 시간표 삭제</button></a>
                    </div>
                   
                </div>
                <h5 class="frame-heading p-0 bg-white mb-g">
                    {% for time in time.all %}
                   <strong>수정시간:</strong> {{time.time|date:"m-d H:i"}}
                    {% endfor %}
                </h5>
                <div class="frame-wrap p-0 border-0 m-0" >
                    <table class="table m-0 table-bordered table-sm" id="table-example" style="font-size: 20px;">
                        <thead>
                                <tr>
                                    <td id="td_size"></td>
                                    <td>월</td>
                                    <td>화</td>
                                    <td>수</td>
                                    <td>목</td>
                                    <td>금</td>
                                    <td>토</td>
                                    <td>일</td>
                                </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td id="td_size">9시</td>
                                    <td id="00"></td> 
                                    <td id="01"></td>
                                    <td id="02"></td>
                                    <td id="03"></td>
                                    <td id="04"></td>
                                    <td id="05"></td>
                                    <td id="06"></td>
                                </tr>
                                <tr>
                                    <td id="td_size">10시</td>
                                    <td id="10"></td>
                                    <td id="11"></td>
                                    <td id="12"></td>
                                    <td id="13"></td>
                                    <td id="14"></td>
                                    <td id="15"></td>
                                    <td id="16"></td>
                                </tr>
                                <tr>
                                    <td id="td_size">11시</td>
                                    <td id="20"></td>
                                    <td id="21"></td>
                                    <td id="22"></td>
                                    <td id="23"></td>
                                    <td id="24"></td>
                                    <td id="25"></td>
                                    <td id="26"></td>
                                </tr>
                                <tr>
                                    <td id="td_size">12시</td>
                                    <td id="30"></td>
                                    <td id="31"></td>
                                    <td id="32"></td>
                                    <td id="33"></td>
                                    <td id="34"></td>
                                    <td id="35"></td>
                                    <td id="36"></td>
                                </tr>
                                <tr>
                                    <td id="td_size">13시</td>
                                    <td id="40"></td>
                                    <td id="41"></td>
                                    <td id="42"></td>
                                    <td id="43"></td>
                                    <td id="44"></td>
                                    <td id="45"></td>
                                    <td id="46"></td>
                                </tr>
                                <tr>
                                    <td id="td_size">14시</td>
                                    <td id="50"></td>
                                    <td id="51"></td>
                                    <td id="52"></td>
                                    <td id="53"></td>
                                    <td id="54"></td>
                                    <td id="55"></td>
                                    <td id="56"></td>
                                </tr>
                                <tr>
                                    <td id="td_size">15시</td>
                                    <td id="60"></td>
                                    <td id="61"></td>
                                    <td id="62"></td>
                                    <td id="63"></td>
                                    <td id="64"></td>
                                    <td id="65"></td>
                                    <td id="66"></td>
                                </tr>
                                <tr>
                                    <td id="td_size">16시</td>
                                    <td id="70"></td>
                                    <td id="71"></td>
                                    <td id="72"></td>
                                    <td id="73"></td>
                                    <td id="74"></td>
                                    <td id="75"></td>
                                    <td id="76"></td>
                                </tr>
                                <tr>
                                    <td id="td_size">17시</td>
                                    <td id="80"></td>
                                    <td id="81"></td>
                                    <td id="82"></td>
                                    <td id="83"></td>
                                    <td id="84"></td>
                                    <td id="85"></td>
                                    <td id="86"></td>
                                </tr>
                                <tr>
                                    <td id="td_size">18시</td>
                                    <td id="90"></td>
                                    <td id="91"></td>
                                    <td id="92"></td>
                                    <td id="93"></td>
                                    <td id="94"></td>
                                    <td id="95"></td>
                                    <td id="96"></td>
                                </tr>
                                <tr>
                                    <td id="td_size">19시</td>
                                    <td id="100"></td>
                                    <td id="101"></td>
                                    <td id="102"></td>
                                    <td id="103"></td>
                                    <td id="104"></td>
                                    <td id="105"></td>
                                    <td id="106"></td>
                                </tr>
                                <tr>
                                    <td id="td_size">20시</td>
                                    <td id="110"></td>
                                    <td id="111"></td>
                                    <td id="112"></td>
                                    <td id="113"></td>
                                    <td id="114"></td>
                                    <td id="115"></td>
                                    <td id="116"></td>
                                </tr>
                                <tr>
                                    <td id="td_size">21시</td>
                                    <td id="120"></td>
                                    <td id="121"></td>
                                    <td id="122"></td>
                                    <td id="123"></td>
                                    <td id="124"></td>
                                    <td id="125"></td>
                                    <td id="126"></td>
                                </tr>
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('input:checkbox').change(function()
    {
        if ($(this).is(":checked"))
        {
            $('#table-example').addClass($(this).attr("data-class"));
        }
        else
        {
            $('#table-example').removeClass($(this).attr("data-class"));
        }
    });

</script>
{% endblock %}