{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>TeamPleProject</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
        Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <link href="{% static  'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all">
        <!-- Custom Theme files -->
        <link href="{% static  'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <!--js-->
        <script src="{% static  'js/jquery-2.1.1.min.js'%} " ></script> 
        <!--icons-css-->
        <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet"> 
        <!--Google Fonts-->
        <link href='//fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
        <!--static chart-->
        </head>
<body>	
    <div class="signup-page-main">
        <div class="signup-main">  	
            <div class="signup-head">
                   <h1>Sign Up</h1>
               </div>
               <div class="signup-block">
        <form id="sign-up-form" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">아이디</label><small>(중복확인)</small>
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            <div class="form-group" id="id_password">
                <label for="{{ form.password.id_for_label }}">비밀번호</label>
                {{ form.password }}
                {{ form.password.errors }}
            </div>
            <div class="form-group" id="id_check_password">
                <label for="{{ form.password.id_for_label }}">비밀번호 확인</label>
                {{ form.check_password }}
                {{ form.check_password.errors }}
            </div>
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">이메일</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="{{ form.phone_number.id_for_label }}">휴대전화번호</label>
                {{ form.phone_number }}
                {{ form.phone_number.errors }}
            </div>
            <div class="form-group">
                <label for="{{ form.last_name.id_for_label }}">성</label>
                {{ form.last_name }}
            </div>
            <div class="form-group">
                <label for="{{ form.first_name.id_for_label }}">이름</label>
                {{ form.first_name }}
            </div>
        </form>
        <button type="input" class="btn btn-secondary btn-lg" onclick="check_account()">회원가입</button>
        <div class="sign-down">
				<h4>Already have an account? <a href="{% url 'account:sign_in' %}"> Login here.</a></h4>
				</div>
    </div>
    </div>
    </div>
    <script src="{% static 'js/jquery.nicescroll.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <!--//scrolling js-->
<script src="{% static 'js/bootstrap.js' %}"> </script>
    </body>


    <script type="text/javascript">
    
    function team_invite(team_pk){
    var username = prompt("초대할 사용자를 입력해 주세요!")
    if (username != null){
        $.ajax({
            type:'get',
            url: "/team/"+team_pk+'/add_member1?username='+username,
            success: function(data){
                if(data == 1){
                    alert(username+"해당 사용자가 팀에 존재합니다!");
                }
                else if(data == 2){
                    alert(username+" 초대가 완료되었습니다.");
                    location.href = '/team/'+team_pk;
                }
                else{
                    alert(username+"해당 사용자가 존재 하지 않습니다!")
                }
            },
            error: function(){
                console.log('실패');
            }
        })
    }
    else return;
}
        function check_account() {
            var form = document.getElementById("sign-up-form");
            var password = document.getElementById("id_password").value;
            var check_password = document.getElementById("id_check_password").value;

            if (password == "" || check_password == "") {
                alert("비밀번호를 입력해 주세요");
            } else {
                if (password != check_password) {
                    alert("비밀번호를 비밀번호가 일치하지 않습니다")
                } else {
                    form.submit();
                }
            }
        }
    </script>
