{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            Teample
        </title>
        <meta name="description" content="Login">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
        <!-- Call App Mode on ios devices -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <!-- Remove Tap Highlight on Windows Phone IE -->
        <meta name="msapplication-tap-highlight" content="no">
        <!-- base css -->
        <link rel="stylesheet" media="screen, print" href="{% static 'css/vendors.bundle.css' %}">
        <link rel="stylesheet" media="screen, print" href="{% static 'css/app.bundle.css' %}">
        <!-- Place favicon.ico in the root directory -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
        <link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
        <!-- Optional: page related CSS-->
        <link rel="stylesheet" media="screen, print" href="{% static 'css/fa-brands.css' %}">
    </head>
    <body>
        <div class="page-wrapper" style="background-image: url({% static 'img/backgrounds/clouds.png'});">
            <div class="page-inner bg-brand-gradient">
                <div class="page-content-wrapper bg-transparent m-0">
                    <div class="height-10 w-100 shadow-lg px-4 bg-brand-gradient" style="background-color:  gainsboro;">
                        
                    </div>
                    <div class="flex-1" style="background-image: url({% static 'img/backgrounds/clouds.png'}); background-size: cover;">
                        <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
                            <div class="row">
                                
                                <div class="col-xl-6 ml-auto mr-auto">
                                    <div class="card p-4 rounded-plus bg-faded">
                                        <div class="alert alert-primary text-dark" role="alert" style="text-align: center;">
                                            <strong>회원가입</strong> 
                                        </div>
                                        <form id="sign-up-form" method="post">
                                            {% csrf_token %}
                                            
                                            <div class="form-group">
                                            <label class="form-label" for="{{ form.password.id_for_label }}">아이디 </label>
                                            <div class="input-group mb-3 input_username">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text text-success">
                                                        <i class="ni ni-user fs-xl"></i>
                                                    </span>
                                                </div>
                                                <input type="text" id="username" name="username" class="form-control login_kth" placeholder="로그인할 아이디입니다.." aria-label="Username" aria-describedby="basic-addon1">
                                            </div>
                                            <div class="overlap"></div>
                                            <label class="form-label" for="{{ form.password.id_for_label }}">비밀번호 </label>
                                            <div class="input-group mb-3 psw">
                                                <div class="input-group-prepend">
                                                    
                                                    <span class="input-group-text text-success">
                                                        <i class="ni ni-user fs-xl"></i>
                                                    </span>
                                                </div>
                                                <input type="password" aria-label="비밀번호" class="form-control js_pw login_kth" placeholder="비밀번호" id="password" name="password">
                                                <input type="password" aria-label="비밀번호 확인" class="form-control js_pw login_kth" placeholder="비밀번호 확인" id="check_password" name="check_password">
                                            </div>
                                            <div class="error mb-3"></div>
                                            <label for="{{ form.last_name.id_for_label }}">사용자 이름</label>
                                            <div class="input-group mb-5">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text text-success">
                                                        <i class="ni ni-user fs-xl"></i>
                                                    </span>
                                                </div>
                                                <input type="text" aria-label="성" class="form-control login_kth" placeholder="성" id="last_name" name="last_name">
                                                <input type="text" aria-label="이름" class="form-control login_kth" placeholder="이름" id="first_name" name="first_name">
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="inputGroupSelect01">학과 선택</label>
                                                    </div>
                                                    <select class="custom-select" id="department" name="department">
                                                        <option value="a">과를 선택해주세요!</option>
                                                        <option value="0">정보통신공학과</option>
                                                        <option value="1">컴퓨터공학과</option>
                                                        <option value="2">소프트웨어공학과</option>
                                                        <option value="3">글로컬IT학과</option>
                                                        <option value="4">신학과</option>
                                                        <option value="5">경제학과</option>
                                                        <option value="6">신문방송학과</option>
                                                        <option value="7">영어학과</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="inputGroupSelect01">이메일</label>
                                                    </div>
                                                    <input type="email" aria-label="email" class="form-control login_kth" placeholder="email" id="email" name="email">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="inputGroupSelect01">학번</label>
                                                    </div>
                                                    <input type="text" aria-label="학번" class="form-control login_kth" placeholder="학번" id="student_id" name="student_id">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="inputGroupSelect01">번호</label>
                                                    </div>
                                                    <input type="text" aria-label="번호" class="form-control login_kth" placeholder=" - 붙여주세요!" id="phone_number" name="phone_number">
                                                </div>
                                            </div>
                                            <div class="row no-gutters">
                                                <div class="col-md-4 ml-auto text-right">
                                                    <button type="input" class="btn btn-block btn-danger btn-lg mt-3 mb-2 login_btn" disabled="disabled" onclick="check_account()">회원가입</button>
                                                    <br>
                                                    <a href="{% url 'account:sign_in' %}"> 아이디가 있나요?</a></h4>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="position-absolute pos-bottom pos-left pos-right p-3 text-center text-white">
                            2020 © 성공회대학교 &nbsp;<a href='https://github.com/thxogusrla3/Teaming.git' class='text-white fw-500' title='github.com' target='_blank'>https://github.com/thxogusrla3/Teaming.git</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="{% static 'js/vendors.bundle.js' %}"></script>
        <script src="{% static 'js/app.bundle.js' %}"></script>
        <script>
            
        $('.js_pw').focusout(function(){
            var pw1 = $('#password').val();
            var pw2 = $('#check_password').val();
            
            if(pw1 != "" && pw2 != ""){
                if(pw1 == pw2){
                    $('.psw').removeClass('mb-3')
                    $('.error').text("- 일치합니다!").css('color','green').addClass('mb-3');
                }
                else{
                    $('.psw').removeClass('mb-3')
                    $('.error').text('- 비밀번호를 다시 확인해주세요!').css('color','red').addClass('mb-3');
                    $('.login_btn').attr("disabled",'disabled');
                }
            }
            else if(pw2 !="" && pw1 == ""){
                $('.psw').removeClass('mb-3')
                $('.error').text('- 비밀번호를 다시 확인해주세요!').css('color','red').addClass('mb-3');
                $('.login_btn').attr("disabled",'disabled');
            }
        });

        $('#username').focusout(function(){
            var username = $('#username').val();
            if(username !=""){
                $.ajax({
                    type:'get',
                    url: "/overlap_username?username="+username,
                    success: function(data){
                        if(data==1){
                            $('.input_username').removeClass('mb-3')
                            $('.overlap').text("- 중복된 아이디가 없습니다!").css('color','green').addClass("mb-3")
                        }
                        else if(data == 0){
                            $('.input_username').removeClass('mb-3')
                            $('.overlap').text("- 중복된 아이디입니다.").css('color','red').addClass("mb-3")
                            $('.login_btn').attr("disabled",'disabled');
                        }
                    },
                    error: function(){
                        console.log('실패');
                    }
                });
            }
        })
        $('.login_kth').focusin(function(){
            if($('#username').val() !=="" && 
            $('#password').val() !=="" &&
            $('#check_password').val() !=="" &&
            $('#first_name').val() !== "" && 
            $('#last_name').val() !=="" && 
            $('#email').val() !=="" && 
            $('#department').val() !=="" && 
            $('#student_id').val() !=="" && 
            $('#phone_number').val() !==""){
                $('.login_btn').removeAttr('disabled');
            }
            else $('.login_btn').attr("disabled",'disabled');
        })

        </script>
    </body>
</html>
