{% extends 'layout.html' %}
{% load static %}
{% block content %}
<!-- 작업해야하는 곳 -->

    <div class="subheader">
        <h1 class="subheader-title">
            <i class='subheader-icon fal fa-credit-card-front'></i> {{user.username}}
            <small>
                시간표를 설정하고 메모를 작성하세요!
            </small>
        </h1>
    </div>
<div class="row">
    
    <div class="col-xl-6">
        <div id="panel-2" class="panel">
            <div class="panel-hdr">
                <h2>
                    시간표 <span class="fw-300"><i>설정 </i></span>
                </h2>
                
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div id="schedule" style="text-align: center">
                        <h2>시간표 설정</h2>
                        
                        <script type="text/javascript">
                        /*  */
                            function create_table() {
                                var username = "{{user.username}}";
                                var table = document.createElement("table");
                                table.className = "table table-bordered";
                                var weeks = ["", "월", "화", "수", "목", "금", "토", "일"];
                                
                                var first_tr = document.createElement("tr");
                                for (var i = 0; i < weeks.length; i++) {
                                    var td = document.createElement("td");
                                    td.innerText = weeks[i];
                                    first_tr.appendChild(td);
                                }
                                var thead = document.createElement("thead");
                                thead.appendChild(first_tr);
                
                                table.appendChild(thead);
                
                                var user_time_table = "{{ user.time_table }}";
                                var tbody = document.createElement("tbody");
                                for (var j = 0; j < 13; j++) {
                                    var tr = document.createElement("tr");
                                    var first_td = document.createElement("td");
                                    first_td.innerText = (j + 9) + "시";
                                    tr.appendChild(first_td);
                
                                    for (var k = 0; k < 7; k++) {
                                        var td = create_td(user_time_table[j * 7 + k]); // 1차원배열을 2차원 배열로 만들어준거지뭐.
                                        td.id = j + ',' + k;
                                        tr.appendChild(td);
                                    }
                
                                    tbody.appendChild(tr);
                                }
                                table.appendChild(tbody);
                                table.style.textAlign = "center";
                                table.style.width = "60%";
                                table.style.marginLeft = "auto";
                                table.style.marginRight = "auto";
                                var container = document.getElementById("schedule");
                                container.appendChild(table);
                            }
                            /* ------------------------------------------------------------------------------------------ */
                            function create_td(binary) {
                                var td = document.createElement("td");
                                td.setAttribute("onclick", "change_color(this)");
                                if (binary == '1') {
                                    td.style.backgroundColor = "red";
                                }
                                return td
                            }
                            /* ------------------------------------------------------------------------------------------ */
                            function change_color(tag) {
                                if (tag.style.backgroundColor == "red") {
                                    tag.style.removeProperty("background-color");
                                } else {
                                    tag.style.backgroundColor = "red";
                                }
                            }
                            /* ------------------------------------------------------------------------------------------ */
                            function get_binary() {
                                var td_tags = document.getElementsByTagName("td");
                                console.log(td_tags.value);
                                var result = "";
                
                                for (var i = 0; i < td_tags.length; i++) {
                                    if (td_tags[i].id != "") {
                                        if (td_tags[i].style.backgroundColor == "red") {
                                            result += 1;
                                        } else {
                                            result += 0;
                                        }
                                    }
                                }
                
                                return result;
                            }
                            /* ------------------------------------------------------------------------------------------ */
                            function submit(bool) {
                                var time_table = document.getElementsByName("time_table")[0];
                                if (bool) {
                                    
                                    var form = document.getElementById("schedule_form");
                                    time_table.value = get_binary();
                                    form.submit();
                                } else {
                                    var td_tags = document.getElementsByTagName("td");
                                    time_table.value = "0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000";
                                    for (var i = 0; i < td_tags.length; i++) {
                                        if (td_tags[i].style.backgroundColor == "red") {
                
                                            td_tags[i].style.removeProperty("background-color");
                                        }
                                    }
                                }
                            }
                
                            create_table();
                        </script>
                        <button type="button" class="btn btn-success btn-lg" onclick="submit(true)">시간표 바꾸기</button>
                        <button type="button" class="btn btn-danger btn-lg" onclick="submit(false)">시간표 초기화</button>
                
                        <form  method="post" id="schedule_form" action="{% url 'account:set_schedule' %}">
                            {% csrf_token %}
                            <div style="visibility: hidden">
                                {{ form }}
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        메모! 
                    </h2>
                        
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        
                        <div class="js-summernote" id="saveToLocal"></div>
                        <div class="mt-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="autoSave" checked="checked">
                                <label class="custom-control-label" for="autoSave">Autosave changes to LocalStorage <span class="fw-300">(every 3 seconds)</span></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="panel-9" class="panel">
                <div class="panel-hdr">
                    <h2>
                        {{user.username}}님의 팀 목록 
                    </h2>
                    
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="row">
                            {% if count != 0 %}
                            {% for userteam in user_team %}
                            
                            <div class="col-xl-3">
                                <a href="{% url 'team:detail_team' userteam.team.id %}">
                                <div class="card border mb-4 mb-xl-3">
                                    
                                    <!-- notice the additions of utility paddings and display properties on .card-header -->
                                    <div class="card-header bg-trans-gradient py-2 pr-2 d-flex align-items-center flex-wrap">
                                        <!-- we wrap header title inside a span tag with utility padding -->
                                        <div class="card-title text-white">{{userteam.team.team_name}}</div>
                                        
                                    </div>
                                    <div class="card-body" style="height: 100px;">
                                        <p class="card-text">{{userteam.team.introduce}}</p>
                                    </div>
                                </div>
                                </a>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="col-xl-12" style="text-align: center;">
                                <a href="{% url 'team:create_team' %}" >
                                <h1 class=" color-fusion-500">
                                    팀이 없습니다!
                                    <small class="fw-500">
                                        팀을 추가해주세요 
                                    </small>
                                </h1>
                                </a>
                            </div>    
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
                     
                            
                            
                            
                            
                            
                    