{% extends 'layout.html' %}

{% block content %}
<script type="text/javascript">
    function team_leave(team_pk, user_pk){
        var leave_team = confirm("팀을 나가시겠습니까?")
        if (leave_team == true){
            location.href = '/team/'+team_pk+'/'+user_pk+'/'+'leave_team';
        }
        else
            return ;
    }
</script>

    <div class="subheader">
        <h1 class="subheader-title">
            <i class='subheader-icon fal fa-plus-circle'></i> {{user.username}}의 팀 목록입니다
            
        </h1>
    </div>

    <div class="row" id="js-contacts">
        {% for user_team in user_team %}
        <div class="col-xl-3">
            <div id="c_1" class="card border shadow-0 mb-g shadow-sm-hover" data-filter-tags="oliver kopyov">
                
                <div class="card-body border-faded border-top-0 border-left-0 border-right-0 rounded-top">
                    <div class="d-flex flex-row align-items-center">
                        
                        <div class="info-card-text flex-1">
                            <a href="{% url 'team:detail_team' user_team.team.pk %}" class="fs-xl text-truncate text-truncate-lg text-info" data-toggle="dropdown" aria-expanded="false">
                                {{user_team.team.team_name}}
                                <i class="fal fa-angle-down d-inline-block ml-1 fs-md"></i>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" onclick="team_leave('{{user_team.team.pk}}', '{{user.pk}}')"><i class="fas fa-times-circle text-muted mr-2"></i>탈퇴</a>
                                <a class="dropdown-item" href="{% url 'team:member_time_table' user_team.team.pk%}"><i class="fas fa-calendar-alt text-muted mr-2"></i>합친 시간표</a>
                                <a class="dropdown-item" href="{% url 'team_article:workspace' user_team.team.pk user.pk %}"><i class="fas fa-list-alt text-muted mr-2"></i>자료공유 </a>
                                <a class="dropdown-item" href="{% url 'team:team_meeting_place' user_team.team.pk %}"><i class="fas fa-map-marked"></i>  모임 </a>
                                
                            </div>
                            <span class="text-truncate text-truncate-xl">{{user_team.team.team_leader.username}}</span>
                        </div>
                        
                    </div>
                </div>
                <a href="{% url 'team:detail_team' user_team.team.pk %}">
                <div class="card-body p-0 collapse show">
                    <div class="p-3" style="height: 150px;">
                        {{ user_team.team.introduce }}
                    </div>
                </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}