{% extends 'layout.html' %}
{% block content %}
<style>
.inner-block {
    padding: 6em 2em 4em 2em;
    background: #fafafa;
}
#td_a{
    color: black;
}
</style>
<div class="col-md-12">
<table style="margin-bottom: 30px;">
<tr>
    {% for members in user_team.all %}
    <td style="padding-left: 10px; padding-right: 15px;" id="td_a"><a href="{% url 'team_article:workspace' members.team.pk members.user.pk %}" style="color: black; font-size: 15px;">{{ members.user.username }}의 작업공간</a></td>
    {% endfor %}
    <td><a href="{% url 'team:detail_team' team.pk %}" style="color: rgb(0, 0, 0);">Team Home</a></td>
</tr>
</table>  
        <div class="col-md-6" style="padding:15px; margin-bottom: 20px;background-color:white; border: 1px solid rgb(238, 232, 232); overflow: hidden;
        height: auto;">
            <form action="{% url 'team_article:articleurl' team.pk user.pk %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                        <label for="{{ urlform.url.id_for_label }}">주소</label>
                        {{ urlform.url }}
                    </div>
                    <div class="form-group">
                        <label for="{{ urlform.explain_content.id_for_label }}">주소 설명</label>
                        {{ urlform.explain_content }}
                    </div>
                    <div class="forgot-top-grids">
                        <div class="clearfix"> </div>
                    </div>
                    <input type="submit" name="Sign In" value="저장">	
            </form>
        </div>
        <div class="col-md-6" style="padding:15px; margin-bottom: 20px;background-color: white; border: 1px solid rgb(238, 232, 232); ">
                <form action="{% url 'team_article:articlefile' team.pk user.pk %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                            <label for="{{ fileform.file_url.id_for_label }}">파일</label>
                            {{ fileform.file_url }}
                        </div>
                        <div class="form-group">
                            <label for="{{ fileform.explain_content.id_for_label }}">파일 설명</label>
                            {{ fileform.explain_content }}
                        </div>
                        <div class="forgot-top-grids">
            
            
                            <div class="clearfix"> </div>
                        </div>
                        <input type="submit" name="Sign In" value="저장">	
                </form>
            </div>
    </div>
<br>

<div class="col-md-12" style="margin: 20px; border: 1px solid rgb(238, 232, 232); overflow: hidden; height: auto;">
    <div class="col-md-6" style="padding: 15px; word-break:break-all;">
        <h1>주소 게시판</h1>
        <hr>
            {% for i in search_url.all %}
            <div class=card>
            주소: <a href="{{ i.url }}" target="_blank">{{ i.summary }}...</a><br>
            설명:{{ i.explain_content}}
            <br>
            {{i.created_date }}
            {% if user.id == now_user.id %}
            <a href="{% url 'team_article:delete_articleurl' team.pk user.pk i.pk %}">삭제</a>
            {% endif %}
        </div>
            <br><br><br>
            {% endfor %}
    </div>
    <div class="col-md-6 "style="padding: 15px;">
        <h1>파일 게시판</h1>
        <hr>
        {% for i in search_file.all %}
        <br>
        <a href="{{ i.file_url.url }}" download>{{ i.file_url.name }}</a>
        {% if user.id == now_user.id %}
        <a href="{% url 'team_article:delete_articlefile' team.pk user.pk i.pk %}">삭제</a>
        {% endif %}
        <br>
        설명: {{i.explain_content}}
        <br>
        {% endfor %}
    </div>
</div>
{% endblock%}