{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <a href=" {% url 'account:user_home' user.pk %}">{{user.username}}의 사용자!</a>
        <a href=" {% url 'team:leave_team' details.pk user.pk %}">팀 나가기!</a>
        <br>
        팀 번호={{ details.pk }}
        <br>
        {% for i in details.team_leader.all %}
            팀 리더={{ i.username }}
            {{ details.team_leader.all }}
            <br>
            팀 리더 번호= {{i.pk}}
        {% endfor %}
        <br>
        <h1>
            팀 이름={{ details.team_name }}
        </h1>
        <br>
        팀 소개={{ details.introduce }}
        <br>
        팀 유저
        <br>
        {% for i in team_member.all %}
            <p>
                {% for k in details.team_leader.all %}
                    <a href="{% url 'account:user_info'  i.user.id %}">{{ i.user.username }}</a>

                    {% if user.username == k.username %}
                        {% if i.user.id != k.id %}
                            <a href="{% url 'team:expulsion_member' i.team.id i.user.id %}">추방</a>
                        {% endif %}
                    {% endif %}

                    {% if i.user.id == k.id %}
                        리더입니다~!
                    {% endif %}

                {% endfor %}
            </p>
        {% endfor %}

        <h2>팀원 별 작업공간!</h2>
        {% for i in team_member.all %}
            <a href="{% url 'team_article:workspace' i.team.pk i.user.pk %}">{{ i.user.username }}</a>
        {% endfor %}
        <br>
        <h2>팀 시간표</h2>
        <p id="schedule"></p>
        <br><br>
        <a href="{% url 'team:add_member' details.pk user.pk %}">팀추가하기!</a>
        <a href="{% url 'team:correct_team' details.pk %}">팀정보수정하기!</a>
        <script type="text/javascript">
            function create_table() {
                var table = document.createElement("table");
                table.className = "table table-bordered";
                var weeks = ["", "월", "화", "수", "목", "금", "토", "일"];

                var first_tr = document.createElement("tr");
                for (var i = 0; i < weeks.length; i++) {
                    var td = document.createElement("td");
                    td.innerText = weeks[i];
                    first_tr.appendChild(td);
                }

                table.appendChild(first_tr);
                var team_time_table = "{{ time_table }}";
                for (var j = 0; j < 13; j++) {
                    var tr = document.createElement("tr");
                    var first_td = document.createElement("td");
                    first_td.innerText = (j + 9) + "시";
                    tr.appendChild(first_td);

                    for (var k = 0; k < 7; k++) {
                        var td = create_td(team_time_table[j * 7 + k]);
                        td.id = j + ',' + k;
                        tr.appendChild(td);
                    }

                    table.appendChild(tr);
                }
                var p = document.getElementById("schedule");
                p.appendChild(table);
            }

            function create_td(binary) {
                var td = document.createElement("td");
                if (binary == '1') {
                    td.style.backgroundColor = "red";
                }
                return td
            }
            create_table()
        </script>
    </div>
{% endblock %}