{{ user.username }}의 작업공간
{{ user.id }}
{{ now_user.id }}
{% if user.id == now_user.id %}
<table>
    <tr>
        <td>
            <form action="{% url 'team_article:articleurl' team.pk user.pk %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ urlform.as_table }}
                    <input type="submit" value="저장">
                </table>
            </form>
        </td>
        <td>
            <form action="{% url 'team_article:articlefile' team.pk user.pk %}" method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <table>
                    {{ fileform.as_table }}
                    <input type="submit" name="document"  value="저장">
                </table>

            </form>
        </td>
    </tr>
</table>
{% endif %}
<h1>주소가 모인 게시판</h1>
{% for i in search_url.all %}
 주소: <a href="{{ i.url }}" target="_blank">{{ i.url }}</a> <br>
설명:{{ i.explain_content}}
{{i.created_date }}
{% if user.id == now_user.id %}
<a href="{% url 'team_article:delete_articleurl' team.pk user.pk i.pk %}">삭제</a>
{% endif %}
<br><br><br>
{% endfor %}

<h1>파일이 모인 게시판</h1>
{% for i in search_file.all %}
파일 아이디={{i.id}}
<br>
<a href="{{ i.file_url.url }}" download>{{ i.file_url }}</a>
{% if user.id == now_user.id %}
<a href="{% url 'team_article:delete_articlefile' team.pk user.pk i.pk %}">삭제</a>
{% endif %}
<br>
설명: {{i.explain_content}}
<br>
{% endfor %}
